<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>소프트웨어공학</title>
    <link rel="stylesheet" href="css/setting.css">
    <link rel="stylesheet" href="css/plugin.css">
    <link rel="stylesheet" href="css/template.css">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <!-- [S]basic-N1 -->
    <header class="basic-N1" data-bid="vYM39t23mw">
        <div class="header-inner">
            <div class="header-container container-lg">
                <h1 class="header-title">
                    <a href="javascript:void(0)" onclick="window.location='./index';">
                        <img src="images/donga_logo_b.png" alt="로고">
                    </a>
                </h1>
                <div class="header-center">
                    <div class="header-title header-mobile-top">
                        <a href="javascript:void(0)">
                            <img src="images/img_logo_black.png" alt="로고">
                        </a>
                    </div>
                    <ul class="header-gnblist">
                        <li class="header-gnbitem">
                            <a class="header-gnblink" href="javascript:void(0)" onclick="window.location='./index';">
                                <span>Home</span>
                            </a>
                        </li>
                        <li class="header-gnbitem">
                            <a class="header-gnblink" href="javascript:void(0)" onclick="window.location='./projects';">
                                <span>Projects</span>
                            </a>
                        </li>
                        <li class="header-gnbitem">
                            <a class="header-gnblink" href="javascript:void(0)" onclick="window.location='./discussions';">
                                <span>Discussions</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="header-right">
                    <div class="header-lang">
                        <button class="header-langbtn">Uesr</button>
                        <ul class="header-langlist">
                            <li class="header-langitem">
                                <a href="javascript:void(0)" onclick="window.location='./mypage';">MyPage</a>
                            </li>
                            <li class="header-langitem">
                                <a href="javascript:void(0)" onclick="window.location='';">Logout</a>
                            </li>
                        </ul>
                    </div>
                    <div class="header-utils">
                        <button class="btn-allmenu">
                            <img src="icons/ico_menu_black.svg" alt="PC메뉴 아이콘">
                        </button>
                        <button class="btn-momenu">
                            <img src="icons/ico_menu_black.svg" alt="모바일메뉴 아이콘">
                        </button>
                        <button class="btn-close">
                            <img src="icons/ico_close_black.svg" alt="닫기 아이콘">
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-dim"></div>
    </header>
    <!-- [E]basic-N1 -->
    <main class="th-layout-main ">
        <!-- [S]basic-N6 -->
        <div class="basic-N6" data-bid="NWm39T23XR">
            <div class="contents-container container-md">
                <div class="textset">
                    <h2 class="textset-tit">Projects</h2>
                    <p class="textset-desc">
                        <div class="filters">
                            <select id="tech-filter">
                                <option value="all">Language Categories</option>
                                <option value="javascript">JavaScript</option>
                                <option value="python">Python</option>
                                <option value="java">Java</option>
                                <!-- 추가 기술 -->
                            </select>
                            <select id="field-filter">
                                <option value="all">Technology Categories</option>
                                <option value="web">Web</option>
                                <option value="mobile">Mobile</option>
                                <option value="data">Data</option>
                                <!-- 추가 분야 -->
                            </select>
                        </div>
                    </p>
                    <div class="contents-btn">
                        <a href="javascript:void(0);" class="btnset btnset-icon icon-left icon-more" onclick="window.location='./create_project';">Create a project</a>
                    </div>
                    <table class="plus_create">
                        <thead>
                            <tr>
                                <th>Project Name</th>
                                <th>Language Type</th>
                                <th>Technology</th>
                                <th>Name</th>
                                <th>Like</th>
                                <th>View</th>
                                <th>Comment</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr href="javascript:void(0);" onclick="window.location='./view_project';">
                                <td>Project Name</td>
                                <td>Language Type</td>
                                <td>Technology</td>
                                <td>Name</td>
                                <td>Like</td>
                                <td>View</td>
                                <td>Comment</td>
                                <td>Date</td>
                            </tr>
                            <tr>
                                <td>Project Name</td>
                                <td>Language Type</td>
                                <td>Technology</td>
                                <td>Name</td>
                                <td>Like</td>
                                <td>View</td>
                                <td>Comment</td>
                                <td>Date</td>
                            </tr>
                        </tbody>
                    </table>
                    <a>이전 | 다음</a>

                </div>
            </div>
        </div>
        <!-- [E]basic-N6 -->
    </main>
    <!-- [S]basic-N4 -->
    <footer class="basic-N4" data-bid="Drm39T24D8">
        <div class="footer-inner">
            <div class="footer-container container-lg">
                <div class="footer-top">
                    <h1 class="footer-logo">
                        <a href="javascript:void(0)">
                            <img src="images/donga_logo_w.png" alt="로고">
                        </a>
                    </h1>
                    <ul class="footer-menulist">
                        <li class="footer-menuitem">
                            <a href="javascript:void(0)">
                                <span>이용약관</span>
                            </a>
                        </li>
                        <li class="footer-menuitem">
                            <a href="javascript:void(0)">
                                <span>개인정보처리방침</span>
                            </a>
                        </li>
                        <li class="footer-menuitem">
                            <a href="javascript:void(0)">
                                <span>도움말</span>
                            </a>
                        </li>
                    </ul>
                    <ul class="footer-snslist">
                        <li class="footer-snsitem">
                            <a class="footer-snslink" href="javascript:void(0)">
                                <img src="icons/ico_instagram_lightgrey.svg" alt="인스타그램">
                            </a>
                        </li>
                        <li class="footer-snsitem">
                            <a class="footer-snslink" href="javascript:void(0)">
                                <img src="icons/ico_youtube_lightgrey.svg" alt="유튜브">
                            </a>
                        </li>
                        <li class="footer-snsitem">
                            <a class="footer-snslink" href="javascript:void(0)">
                                <img src="icons/ico_facebook_lightgrey.svg" alt="페이스북">
                            </a>
                        </li>
                        <li class="footer-snsitem">
                            <a class="footer-snslink" href="javascript:void(0)">
                                <img src="icons/ico_kakao_lightgrey.svg" alt="카카오톡">
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="footer-bottom">
                    <div class="footer-txt">
                        <p> (49315) 부산 사하구 낙동대로550번길 37 동아대학교 컴퓨터공학과 S06 </p>
                        <p>
                            <span>T. 051-200-7776</span>
                            <span>E. help@givememoney.co.kr</span>
                        </p>
                    </div>
                    <div class="footer-txt">
                        <p>2024 H.D. - K.S. - L.T. - P.H. </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- [E]basic-N4 -->
    <script src="js/setting.js"></script>
    <script src="js/plugin.js"></script>
    <script src="js/template.js"></script>
    <script src="js/common.js"></script>
    <script src="js/script.js"></script>

</body>